<h1>Restaurants#new</h1>

<%= simple_form_for [@restaurant, @restaurant] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>

  <%= f.submit "validez", class: "btn btn-primary" %>
<% end %>
